<footer class="footer" id="footer">
  <a href="#section__hero" class="footer__arrow-link"><img class="footer__arrow" src="./images/ico-arrow.svg" alt="arrow_up"></a>
  <ul class="footer__products">
    <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
    <li><a href="https://adalab.es/">ROPA</a></li>
    <li><a href="https://adalab.es/">NIÑO/A</a></li>
    <li><a href="https://adalab.es/">DESTACADOS</a></li>
    <li><a href="https://adalab.es/">TIPS</a></li>
  </ul>
  <ul class="footer__links">
    <li><a href="https://x.com/Adalab_Digital">TWITTER</a></li>
    <li><a href="https://www.instagram.com/adalab_digital/">INSTAGRAM</a></li>
    <li><a href="https://www.youtube.com/@Adalab">YOUTUBE</a></li>
  </ul>
  <ul class="footer__copy">
  <li><span>&copy;2023</span></li>
  <li><span>we💚run</span></li>
  </ul>
</footer>