<main>
  <section class="section__start">
    <h1>
      <span>COMIENZOS</span>
      <span>COMPARTIDOS </span>
    </h1>

    <span class="header__span">Todo lo que necesitan para volver al cole con ilusión</span>
    <img class="header__arrow" src="./images/ico-scroll-down.svg" alt="arrow_down">
  </section>

  
    <section class="section__buy">
      <span class="span__buy">HISTORIAS,MODA Y ROPA DEPORTIVA</span>
      <h2>TU TIENDA DE DEPORTE</h2>
      <p>El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las
        últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
      <button class="span__button">Comprar</button>
    </section>

    <section class="section__info">
      <span class="span__info">¡Prepáralos con tus marcas favoritas!</span>
      <h3>VUELTA AL COLE</h3>
      <article>
        <img src="/public/images/lpbts-mod05-img01-desk.png" alt="img01">
        <span>Mochilas escolares</span>
      </article>
      <article>
        <img src="/public/images/lpbts-mod05-img04-mob.png" alt="img02">
        <span>Estuches</span>
      </article>
      <article>
        <img src="/public/images/lpbts-mod05-img03-mob.png" alt="img03">
        <span>Bolsas de deporte</span>
      </article>
      <button class="section__button">Empezar ahora</button>
    </section>
  </main>
